# Исключение бинарных файлов
*.exe

# Исключение объектных файлов
*.o

# Исключение временных файлов
*.tmp
*.log

# Исключение файлов, созданных Doxygen
html/
latex/

# Исключение файлов сборки
bin/
obj/
lib/
